<div class="content-wrapper">
    <div class="container-full">
        <!-- Main content -->
        <section class="content">
            <a href="help-center-query.php" class="cmp-btn mb-4 px-3 py-3"><i class="fa-solid fa-angle-left"></i>
                Back</a>
            <div class="row">
                <!-- Right Sidebar -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- Left sidebar -->
                            <!-- <div class="page-aside-left">
                              <div class="d-grid">
                                  <a href="help-center-query-compose.php" class="btn cmp-btn">Compose</a>
                              </div>
                              
                              <div class="email-menu-list mt-3 nav nav-tabs mb-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                  <a href="#inbox" id="inbox-tab" data-bs-toggle="pill" aria-expanded="false" class="nav-link active show text-danger fw-bold"><i class="fa fa-inbox me-2"></i>Inbox<span class="badge badge-danger-light float-end ms-2">7</span></a>
                                  <a href="#starred" id="starred-tab" data-bs-toggle="tab" aria-expanded="false" class="nav-link"><i class="fa fa-star me-2"></i>Starred</a>
                                  <a href="#snoozed" id="snoozed-tab" data-bs-toggle="tab" aria-expanded="false" class="nav-link"><i class="fa fa-clock-o me-2"></i>Snoozed</a>
                                  <a href="#draft" id="draft-tab" data-bs-toggle="tab" aria-expanded="false" class="nav-link"><i class="fa fa-file me-2"></i>Draft<span class="badge badge-info-light float-end ms-2">2</span></a>
                                  <a href="#sentmail" id="sentmail-tab" data-bs-toggle="tab" aria-expanded="false" class="nav-link"><i class="fa fa-paper-plane-o me-2"></i>Sent Mail</a>
                                  <a href="#trash" id="trash-tab" data-bs-toggle="tab" aria-expanded="false" class="nav-link"><i class="fa fa-trash me-2"></i>Trash</a>
                                  <a href="#important" id="important-tab" data-bs-toggle="tab" aria-expanded="false" class="nav-link"><i class="fa fa-tag me-2"></i>Important</a>
                                  <a href="#spam" id="spam-tab" data-bs-toggle="tab" aria-expanded="false" class="nav-link"><i class="fa fa-warning me-2"></i>Spam</a>
                              </div>								

                              

                          

                          </div> -->
                            <!-- End Left sidebar -->

                            <div class="page-aside-right" style="margin:-1.5rem 0 -1.5rem 0px">

                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary"><i
                                            class="fa fa-archive fs-16"></i></button>
                                    <button type="button" class="btn btn-secondary"><i
                                            class="fa fa-warning fs-16"></i></button>
                                    <button type="button" class="btn btn-secondary"><i
                                            class="fa fa-trash-o fs-16"></i></button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle arrow-none"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-folder fs-16"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <span class="dropdown-header">Move to:</span>
                                        <a class="dropdown-item" href="javascript: void(0);">Social</a>
                                        <a class="dropdown-item" href="javascript: void(0);">Promotions</a>
                                        <a class="dropdown-item" href="javascript: void(0);">Updates</a>
                                        <a class="dropdown-item" href="javascript: void(0);">Forums</a>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle arrow-none"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-tag fs-16"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <span class="dropdown-header">Label as:</span>
                                        <a class="dropdown-item" href="javascript: void(0);">Updates</a>
                                        <a class="dropdown-item" href="javascript: void(0);">Social</a>
                                        <a class="dropdown-item" href="javascript: void(0);">Promotions</a>
                                        <a class="dropdown-item" href="javascript: void(0);">Forums</a>
                                    </div>
                                </div>

                                <div class="btn-group">
                                    <button type="button"
                                        class="btn btn-secondary dropdown-toggle arrow-none py-10 fs-13"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        More
                                    </button>
                                    <div class="dropdown-menu">
                                        <span class="dropdown-header">More Options :</span>
                                        <a class="dropdown-item" href="javascript: void(0);">Mark as Unread</a>
                                        <a class="dropdown-item" href="javascript: void(0);">Add to Tasks</a>
                                        <a class="dropdown-item" href="javascript: void(0);">Add Star</a>
                                        <a class="dropdown-item" href="javascript: void(0);">Mute</a>
                                    </div>
                                </div>

                                <div class="mt-30">
                                    <h5 class="fs-18">Your elite author Graphic Optimization reward is ready!</h5>

                                    <hr />

                                    <div class="d-flex mb-3 mt-1">
                                        <img class="d-flex me-2 rounded-circle" src="images/Maskgroup12.png"
                                            alt="placeholder image" height="32">
                                        <div class="w-p100 overflow-hidden">
                                            <small class="float-end">Dec 14, 2021, 5:17 AM</small>
                                            <h6 class="m-0 fs-14">Steven Smith</h6>
                                            <small class="text-muted">From: jonathandomain.com</small>
                                        </div>
                                    </div>

                                    <p>Hi!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                        eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                                        montes, nascetur ridiculus mus</p>
                                    <ol>
                                        <li>Pellentesque vitae tortor tempus, facilisis arcu id, bibendum nisi.</li>
                                        <li>Nunc ultrices lacus mollis arcu lobortis, et lacinia dolor tempor.</li>
                                        <li>Donec et eros placerat lacus varius elementum.</li>
                                        <li>Sed semper tellus nec ligula varius, vitae consequat mi scelerisque.</li>
                                        <li>Proin ac mauris sodales, pulvinar eros eget, viverra lacus.</li>
                                    </ol>

                                    <p>FDonec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.Nulla
                                        consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
                                        vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                        justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras
                                        dapibus. Vivamus elementum semper nisi.</p>
                                    <p><b>Thanks,</b> <br /> Jane</p>
                                    <hr />

                                    <h5 class="mb-3">Attachments</h5>

                                    <div class="row">
                                        <div class="col-xl-4">
                                            <div class="card mb-1 shadow-none border">
                                                <div class="p-2">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="p-10 bg-primary-light text-primary rounded">
                                                                .ZIP
                                                            </div>
                                                        </div>
                                                        <div class="col ps-0">
                                                            <a href="javascript:void(0);"
                                                                class="text-muted fw-500">design.zip</a>
                                                            <p class="mb-0">2.3 MB</p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <!-- Button -->
                                                            <a href="javascript:void(0);" class="p-10 fs-18 link">
                                                                <i class="fa fa-download"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- end col -->
                                        <div class="col-xl-4">
                                            <div class="card mb-1 shadow-none border">
                                                <div class="p-2">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="p-10 bg-primary-light text-primary rounded">
                                                                .jpg
                                                            </div>
                                                        </div>
                                                        <div class="col ps-0">
                                                            <a href="javascript:void(0);"
                                                                class="text-muted fw-500">Design.jpg</a>
                                                            <p class="mb-0">3.25 MB</p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <!-- Button -->
                                                            <a href="javascript:void(0);" class="p-10 fs-18 link">
                                                                <i class="fa fa-download"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- end col -->
                                        <div class="col-xl-4">
                                            <div class="card mb-0 shadow-none border">
                                                <div class="p-2">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="p-10 bg-primary-light text-primary rounded">
                                                                .MP4
                                                            </div>
                                                        </div>
                                                        <div class="col ps-0">
                                                            <a href="javascript:void(0);"
                                                                class="text-muted fw-500">Report.mp4</a>
                                                            <p class="mb-0">7.05 MB</p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <!-- Button -->
                                                            <a href="javascript:void(0);" class="p-10 fs-18 link">
                                                                <i class="fa fa-download"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- end col -->
                                    </div>
                                    <!-- end row-->

                                    <div class="mt-30">
                                        <a href="" class="btn btn-primary me-2"><i
                                                class="fa-solid fa-share-from-square"></i> Reply</a>
                                        <a href="" class="btn btn-info-light">Forward <i
                                                class="fa-solid fa-arrow-right"></i></a>
                                    </div>

                                </div>
                                <!-- end .mt-4 -->

                            </div>
                            <!-- end inbox-rightbar-->
                        </div>

                        <div class="clearfix"></div>
                    </div> <!-- end card-box -->

                </div> <!-- end Col -->
            </div><!-- End row -->
        </section>
        <!-- /.content -->
    </div>

</div>