<div class="content-wrapper" style="min-height: 533.5px;">
    <div class="container-full">
        <!-- Main content -->
        <section class="content">
            <form #form="ngForm">
                <div class="box">
                    <div class="box-body">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-1" role="tabpanel"
                                aria-labelledby="pills-1-tab" tabindex="0">

                                <div class="row mt-3 px-3">
                                    <div class="col-lg-12 col-md-12 mb-3">
                                        <h2 class="box-title mb-1">Add Donor</h2>
                                    </div>
                                     <div class="box-rows" *ngIf="IsView">
                                        <div class="box-colms">
                                            <div class="dnr-heads-vw">
                                              Total Donations
                                            </div> 
                                            <div class="dnr-bdy-vw">
                                             {{DonorModel.TotalDonation}}
                                            </div>
                                        </div>
                                        <div class="box-colms">
                                            <div class="dnr-heads-vw">
                                                Total Donation Amount
                                            </div> 
                                            <div class="dnr-bdy-vw">
                                                {{DonorModel.TotalDonationAmount ? DonorModel.TotalDonationAmount   : 'N/A'}}
                                            </div>
                                        </div>
                                        <div class="box-colms">
                                            <div class="dnr-heads-vw">
                                                Total Donation In-Kind Quantity
                                            </div> 
                                            <div class="dnr-bdy-vw">
                                                {{DonorModel.TotalDonationQuantity ? DonorModel.TotalDonationQuantity : 'N/A'}}
                                            </div>
                                        </div>
                                     </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 m-0 p-0 mb-2">
                                        <label class="mb-1 px-4">Upload Profile Picture</label>

                                        <app-uploader
                                            [selectedImage]="DonorModel?.PictureUrl ? Env+DonorModel?.PictureUrl : null"
                                            (Update)="ChangeImage($event)" ></app-uploader>
                                    </div>
                                    <div class="col-lg-10 col-md-9">
                                        <div class="row">
                                            <div class="col-md-12"><h4 class="head-set">
                                                Persnol Detail
                                            </h4></div>
                                            <div class="col-md-4">
                                                <label class="mb-1">Type *</label>
                                                <div class="form-group">
                                                    <i class="fa-solid fa-user"></i>
                                                    <select name="type" #type="ngModel" [disabled]="IsView"
                                                        [(ngModel)]="DonorModel.DonorTypeId"  required>
                                                        <option value="">Select type</option>
                                                        <option *ngFor="let item of donorTypes" [value]="item.Id">
                                                            {{item.Title}}</option>
                                                    </select>
                                                    <ng-container *ngIf="type.touched && !type.value">
                                                        <p class="error-red">type Type is required </p>
                                                    </ng-container>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 mb-2">
                                                <label class="mb-1">Name *</label>
                                                <div class="form-group">
                                                    <i class="fa-solid fa-user"></i>
                                                    <input type="text" placeholder="Enter Name" name="Name" [disabled]="IsView"
                                                        #Name="ngModel" [(ngModel)]="DonorModel.Name" maxlength="100" required>
                                                        <ng-container *ngIf="Name.touched && !Name.value">
                                                            <p class="error-red">Name is required </p>
                                                        </ng-container>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 mb-2">
                                                <label class="mb-1">Email *</label>
                                                <div class="form-group">
                                                    <i class="fa-solid fa-user"></i>
                                                    <input type="text" placeholder="Enter Email" name="Email" [disabled]="IsView"
                                                        #Email="ngModel" [(ngModel)]="DonorModel.Email" maxlength="100" required>
                                                        <ng-container *ngIf="Email.touched && !Email.value">
                                                            <p class="error-red">Email is required </p>
                                                        </ng-container>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 mb-2">
                                                <label class="mb-1">Phone Number *</label>
                                                <div class="form-group">
                                                    <i class="fa-solid fa-user"></i>
                                                    <input type="number" placeholder="Enter PhoneNumber" name="PhoneNumber" [disabled]="IsView"
                                                        #PhoneNumber="ngModel" [(ngModel)]="DonorModel.PhoneNumber" maxlength="100" required>
                                                        <ng-container *ngIf="PhoneNumber.touched && !PhoneNumber.value">
                                                            <p class="error-red">PhoneNumber is required </p>
                                                        </ng-container>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 mb-2">
                                                <label class="mb-1">Address *</label>
                                                <div class="form-group">
                                                    <i class="fa-solid fa-user"></i>
                                                    <input type="text" placeholder="Enter Address" name="Address" [disabled]="IsView"
                                                        #Address="ngModel" [(ngModel)]="DonorModel.Address"   required>
                                                        <ng-container *ngIf="Address.touched && !Address.value">
                                                            <p class="error-red">Address is required </p>
                                                        </ng-container>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 mb-2">
                                                <label class="mb-1">Country *</label>
                                                <div class="form-group">
                                                    <i class="fa-solid fa-user"></i>
                                                    <select name="Country" #Country="ngModel" (ngModelChange)="ChangeCountry($event)" [disabled]="IsView"
                                                        [(ngModel)]="DonorModel.CountryId"  required>
                                                        <option value="">Select Country Type</option>
                                                        <option *ngFor="let item of countries" [value]="item.Id">
                                                            {{item.Country}}</option>
                                                    </select>
                                                    <ng-container *ngIf="Country.touched && !Country.value">
                                                        <p class="error-red">Country is required </p>
                                                    </ng-container>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 mb-2">
                                                <label class="mb-1">City *</label>
                                                <div class="form-group">
                                                    <i class="fa-solid fa-user"></i>
                                                    <select name="City" #City="ngModel" [disabled]="!cities.length || IsView"   
                                                        [(ngModel)]="DonorModel.CityId"  required>
                                                        <option value="">Select City Type</option>
                                                        <option *ngFor="let item of cities" [value]="item.Id">
                                                            {{item.City}}</option>
                                                    </select>
                                                    <ng-container *ngIf="City.touched && !City.value">
                                                        <p class="error-red">City is required </p>
                                                    </ng-container>
                                                </div>
                                            </div>


                                    <div class="col-md-12">
                                        <div class="row">
                                            <ng-container *ngIf="!DonorModel.Id">
                                                <div class="col-md-12"><h4 class="head-set">
                                                    Donation Detail
                                                </h4></div>
                                                <div class="col-md-4">
                                                    <label class="mb-1">Project *</label>
                                                    <div class="form-group">
                                                        <i class="fa-solid fa-user"></i>
                                                        <select name="project" #Project="ngModel" [disabled]="IsView"
                                                            [(ngModel)]="DonorModel.ProjectId"  required>
                                                            <option value="">Select Project</option>
                                                            <option *ngFor="let item of projects" [value]="item.Id">
                                                                {{item.Title}}</option>
                                                        </select>
                                                        <ng-container *ngIf="Project.touched && !Project.value">
                                                            <p class="error-red">Project Type is required </p>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="mb-1">Income Type *</label>
                                                    <div class="form-group">
                                                        <i class="fa-solid fa-user"></i>
                                                        <select name="incometype" #incometype="ngModel" [disabled]="IsView"
                                                            [(ngModel)]="DonorModel.IncomeTypeId"  required>
                                                            <option value="">Select Income Type</option>
                                                            <option *ngFor="let item of incometypes" [value]="item.Id">
                                                                {{item.Title}}</option>
                                                        </select>
                                                        <ng-container *ngIf="incometype.touched && !incometype.value">
                                                            <p class="error-red">Income Type is required </p>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 mb-2">
                                                    <label class="mb-1">Donation Type *</label>
                                                    <div class="form-group">
                                                        <i class="fa-solid fa-user"></i>
                                                        <select    name="DonationDetailType"
                                                        #donationDetailTypeId="ngModel" [(ngModel)]="DonorModel.DonationDetailTypeId" maxlength="100"  [disabled]="IsView" required>
                                                        <option value="">Select Donation  Type</option>  
                                                            <option *ngFor="let item of detailtypes" [value]="item.Id">{{item.Title}}</option>
                                                        </select>
                                                            <ng-container *ngIf="donationDetailTypeId.touched && !donationDetailTypeId.value">
                                                                <p class="error-red">Donation  Type is required </p>
                                                            </ng-container>
                                                    </div>
                                                </div>
                                                <div class="col-md-4" *ngIf="DonorModel.DonationDetailTypeId != 6">
                                                    <label class="mb-1">Bank *</label>
                                                    <div class="form-group">
                                                        <i class="fa-solid fa-user"></i>
                                                        <select name="bank" #bank="ngModel" [disabled]="IsView"
                                                            [(ngModel)]="DonorModel.BankId"  required>
                                                            <option value="">Select Type</option>
                                                            <option *ngFor="let item of banks" [value]="item.Id">
                                                                {{item.Title}}</option>
                                                        </select>
                                                        <ng-container *ngIf="bank.touched && !bank.value">
                                                            <p class="error-red">Bank is required </p>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            <div class="col-lg-4 col-md-4 mb-2">
                                                <label class="mb-1">Region *</label>
                                                <div class="form-group">
                                                    <i class="fa-solid fa-user"></i>
                                                    <select    name="DonationType" [disabled]="IsView"
                                                    #donationTypeId="ngModel" [(ngModel)]="DonorModel.DonationTypeId" maxlength="100" required>
                                                    <option value="">Select Region</option> 
                                                        <option *ngFor="let item of donationtypes" [value]="item.Id">{{item.Title}}</option>
                                                    </select>
                                                        <ng-container *ngIf="donationTypeId.touched && !donationTypeId.value">
                                                            <p class="error-red">Region is required </p>
                                                        </ng-container>
                                                </div>
                                            </div>
                                   
                                            <ng-container *ngIf="DonorModel.DonationDetailTypeId != 6">

                                            <div class="col-lg-4 col-md-4 mb-2" *ngIf="DonorModel.DonationDetailTypeId != 4 && DonorModel.DonationDetailTypeId != 5">
                                                <label class="mb-1">Transaction ID *</label>
                                                <div class="form-group">
                                                    <i class="fa-solid fa-user"></i>
                                                    <input type="text" placeholder="Enter Transaction ID" [disabled]="IsView" name="transactionId"
                                                        #transactionId="ngModel" [(ngModel)]="DonorModel.TransactionId" maxlength="100"  >
                                                       
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 mb-2">
                                                <label class="mb-1">Donation Amount *</label>
                                                <div class="form-group">
                                                    <i class="fa-solid fa-user"></i>
                                                    <input type="number" placeholder="Enter Donation Amount" name="DonationAmount" [disabled]="IsView"
                                                        #DonationAmount="ngModel" [(ngModel)]="DonorModel.Amount" maxlength="100" required>
                                                        <ng-container *ngIf="DonationAmount.touched && !DonationAmount.value">
                                                            <p class="error-red">Donation Amount ID is required </p>
                                                        </ng-container>
                                                </div>
                                            </div> 
                                        </ng-container>
                                        <ng-container *ngIf="DonorModel.DonationDetailTypeId == 6">
                                            <div class="col-lg-4 col-md-4 mb-2">
                                                <label class="mb-1">Inventory *</label>
                                                <div class="form-group">
                                                    <i class="fa-solid fa-user"></i>
                                                    <select    name="InventoryId"
                                                    #InventoryId="ngModel" [(ngModel)]="DonorModel.InventoryId" [disabled]="IsView" maxlength="100" required>
                                                    <option value="">Select Inventory</option>  
                                                        <option *ngFor="let item of inventores" [value]="item.Id"><img [src]="Env+item.Image" width="50px" height="50px" alt=""> {{item.ItemName}}</option>
                                                    </select>
                                                        <ng-container *ngIf="InventoryId.touched && !InventoryId.value">
                                                            <p class="error-red">Inventory is required </p>
                                                        </ng-container>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 mb-2">
                                                <label class="mb-1">Quantity *</label>
                                                <div class="form-group">
                                                    <i class="fa-solid fa-user"></i>
                                                    <input type="number" placeholder="Enter Quantity" name="Quantity" [disabled]="IsView"
                                                    #Quantity="ngModel" [(ngModel)]="DonorModel.Quantity" maxlength="100" required>
                                                        <ng-container *ngIf="Quantity.touched && !Quantity.value">
                                                            <p class="error-red">Quantity is required </p>
                                                        </ng-container>
                                                </div>
                                            </div>
                                        </ng-container>
                                            <div class="col-lg-4 col-md-4 mb-2">
                                                <label class="mb-1">Date *</label>
                                                <div class="form-group">
                                                    <i class="fa-solid fa-user"></i>
                                                    <input type="date" placeholder="Enter Date" name="Date" [disabled]="IsView"
                                                        #Date="ngModel" [(ngModel)]="DonorModel.Date" maxlength="100" required>
                                                        <ng-container *ngIf="Date.touched && !Date.value">
                                                            <p class="error-red">Date ID is required </p>
                                                        </ng-container>
                                                </div>
                                            </div>
                                            
                                       
                                            <!-- <div class="col-lg-4 col-md-4 mb-2">
                                                <label class="mb-1">Status *</label>
                                                <div class="form-group">
                                                    <i class="fa-solid fa-user"></i>
                                                    <select    name="donationStatusId"
                                                    #donationStatusId="ngModel" [(ngModel)]="DonorModel.DonationStatusId" maxlength="100" required>
                                                    <option value="">Select Status</option>
                                                        <option *ngFor="let item of donationstatus" [value]="item.Id">{{item.Title}}</option>
                                                    </select>
                                                        <ng-container *ngIf="donationStatusId.touched && !donationStatusId.value">
                                                            <p class="error-red">Donation Status is required </p>
                                                        </ng-container>
                                                </div>
                                            </div> -->
                                            <div class="col-md-4">
                                                <label class="mb-1">Attachment *</label> 
                                                <input type="file"  [disabled]="IsView"(change)="Upload($event)" [(ngModel)]="DonorModel.Attachment" >
                                            </div>
                                        </ng-container>
                                        </div>
                                    </div>
                                        </div>
                                    </div>
                                
                                
                                 
                            
                                 
                                </div>
                           
                            </div>
                        </div>
                        <div class="row justify-content-end mt-4" *ngIf="!IsView" >
                            <div class="col-md-8 text-end px-4 py-4">
                                <button href="javascript:;" class="cmp-btn"  [disabled]="form.invalid" (click)="AddDonor()" >Submit</button>
                            </div>
                        </div>
                   
                        <div class="table-responsive rounded-4" *ngIf="IsView">
                            <div class="head-dnations">
                                <h4>Donations</h4>
                            </div>
                            <table class="table table-bordered table-hover ">
                                <thead class="table-secondary">
                                    <tr> 
                                        <td scope="col"><span class="fs-14 fw-600">Project</span></td>
                                        <td scope="col"><span class="fs-14 fw-600">Region</span></td>  
                                        <td scope="col"><span class="fs-14 fw-600">Type</span></td>  
                                        <td scope="col"><span class="fs-14 fw-600">Amount/Quantity</span></td>  
                                        <td scope="col"><span class="fs-14 fw-600">Inventory</span></td>  
                                        <td scope="col"><span class="fs-14 fw-600">Status</span></td>  
                                        <td scope="col"><span class="fs-14 fw-600">Date</span></td>  
                                        <td scope="col"><span class="fs-14 fw-600">Transaction ID</span></td>   
               
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="!donations?.length">
                                        <td colspan="10" class="text-center">No Record </td>
                                    </tr>
            
                                    <tr *ngFor="let item of donations;"> 
                                        <td>
                                            <p class="text-body mb-0">{{item.Project}}</p>
                                        </td>
                                        <td>
                                            <p class="text-body mb-0">{{item.DonationType}}</p>
                                        </td> 
                                        <td>
                                            <p class="text-body mb-0">{{item.DetailType}}</p>
                                        </td>  
                                        <td>
                                            <p class="text-body mb-0">{{item.Amount ? item.Amount : item.Quantity ? item.Quantity :'N/A'}}</p>
                                        </td>  
                                        <td>
                                            <p class="text-body mb-0">{{item.InventoryName ? item.InventoryName : 'N/A'}}</p>
                                        </td>  
                                        <td>
                                            <p class="text-body mb-0">{{item.DonationStatus ? item.DonationStatus : 'N/A'}}</p>
                                        </td>  
                                        <td>
                                            <p class="text-body mb-0">{{item.Date | date}}</p>
                                        </td>   
                                        <td>
                                            <p class="text-body mb-0">{{item.TransactionId ?item.Transaction:'N/A'}}</p>
                                        </td>   
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
