<div class="content-wrapper">
    <div class="container-full">
        <!-- Main content -->
        <section class="content">
            <div class="box">
                <div class="box-body">
                    <h3 class="fw-600 box-title mb-4">Internal Exam Schedule</h3>
            <div class="row mt-5">
                <div class="col-xl-12 col-lg-12 col-12">
                    <div class="table-responsive rounded-3">
                        <table class="table table-bordered border-dark-emphasis table-hover">
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col" class="text-center" width="100">Serial Number</th>
                                    <th scope="col" class="text-center" width="200">Subject</th>
                                    <th scope="col" class="text-center" width="200">Date</th>
                                    <th scope="col" class="text-center" width="200">Duration</th>
                                    <th scope="col" class="text-center" width="100">Start Time</th>
                                    <th scope="col" class="text-center" width="100">End Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center" >0012</td>
                                    <td class="text-center">Mathematic</td>
                                    <td class="text-center">02.08.2024</td>
                                    <td class="text-center">2 hours</td>
                                    <td class="text-center">09:00 am</td>
                                    <td class="text-center">05:00 pm</td>
                                </tr>
                            
                                <tr>
                                    <td class="text-center" >0012</td>
                                    <td class="text-center">Mathematic</td>
                                    <td class="text-center">02.08.2024</td>
                                    <td class="text-center">2 hours</td>
                                    <td class="text-center">09:00 am</td>
                                    <td class="text-center">05:00 pm</td>
                                </tr>
                                <tr>
                                    <td class="text-center" >0012</td>
                                    <td class="text-center">Mathematic</td>
                                    <td class="text-center">02.08.2024</td>
                                    <td class="text-center">2 hours</td>
                                    <td class="text-center">09:00 am</td>
                                    <td class="text-center">05:00 pm</td>
                                </tr>
                                <tr>
                                    <td class="text-center" >0012</td>
                                    <td class="text-center">Mathematic</td>
                                    <td class="text-center">02.08.2024</td>
                                    <td class="text-center">2 hours</td>
                                    <td class="text-center">09:00 am</td>
                                    <td class="text-center">05:00 pm</td>
                                </tr>
                                <tr>
                                    <td class="text-center" >0012</td>
                                    <td class="text-center">Mathematic</td>
                                    <td class="text-center">02.08.2024</td>
                                    <td class="text-center">2 hours</td>
                                    <td class="text-center">09:00 am</td>
                                    <td class="text-center">05:00 pm</td>
                                </tr>
                            


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            </div>
            </div>
        </section>
    </div>

</div>