<div class="content-wrapper" style="background: #e9eded !important; ">
    <div class="container-full">
        <!-- Main content -->
        <section class="content">



 
    <div class="all-total-box">
        <div   *ngFor="let item of head;let i=index;" class="box-set box-set{{i}}">
            <h3>
              {{item.Value}}
            </h3>
            <h4>
                {{item.Key}} 
            </h4>
        </div> 
    </div>



    <div class="row" style="margin-top: 45px;">
        <div class="col-md-6">
            <div class="box-chart">
                <div class="chart-head row">
                    <span class="col-md-6">MONTH WISE DONATION</span>
                    <span class="col-md-6 text-right">Select Year 
                        
                        <select name="" (change)="GetDashboard()" [(ngModel)]="model.DonationYear"  id="" class="chrt-select">
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                        </select></span>
                </div>
          
        <div class="p4" >    <ngx-charts-bar-vertical *ngIf="chartdonation.length > 0"  [results]="chartdonation" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisTickFormatting]="formatXAxisTick"
            >
        </ngx-charts-bar-vertical></div>
        </div>
    </div>
        <div class="col-md-6">

            <div class="box-chart">
                <div class="chart-head row">
                    <span class="col-md-6">EXPENSES OVERVIEW</span>
                    <span class="col-md-6 text-right">Select Year <input type="month" name="expense" (change)="GetDashboard()" [(ngModel)]="model.Expense"  ></span>
                </div>
          
        <div class="p4" >    <ngx-charts-bar-horizontal *ngIf="chartexpense.length > 0" [results]="chartexpense" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"  [xAxisTickFormatting]="formatXAxisTick"
        >
        </ngx-charts-bar-horizontal></div>
        </div>
        </div>
    </div>

    <div class="bottom-box-set row">
        <div  *ngFor="let item of summary;let i = index;" class="box-summary clr{{i}}">
            <div class="top-head">
             {{item.Key}}
             <a href=""></a>
            </div>
            <div class="li row" *ngFor="let detal of item.detail">
                <span class="col-md-6">{{detal.Key}} </span>
                <span class="col-md-6 text-right">{{detal.Value}}</span>
            </div> 
        </div> 
    </div>
 
</section>
</div>
</div>