<div class="receipt-container">
    <h1>Donation Receipt</h1>

    <div class="header-info row-set">
      <p><strong>Official Website:</strong> <a href="https://pilcentre.org"> pilcentre.org</a></p>
      <p style="margin-left: 16px;"><strong>Contact #:</strong> +92 303 9277999</p>
      <p><strong>Address:</strong> PILC Head Office, Plot #14/10, Tunishia Lines Near KPO, Shahrah-e-Faisal Rd, Abyssinia Lines, Karachi</p>
      <hr>
    </div>

    <div class="row-set">
    <div class="section col-set-6">
      <label>Receipt No.:</label>
      <div class="input-placeholder">{{randomNumber}}</div>
    </div>

    
    <div class="section col-set-6">
        <label>Date of Donation:</label>
        <div class="input-placeholder">{{DonationModel.Date | date :'dd/MM/YYYY hh:mm a'}}</div>
      </div>
</div>
    <div class="row-set"> 

    <div class="section col-set-6">
      <label>Donated By:</label>
      <div class="input-placeholder">{{DonationModel.Name}}</div>
    </div>

    <div class="section col-set-6">
      <label>Contact #:</label>
      <div class="input-placeholder">{{DonationModel.PhoneNumber}}</div>
    </div>
</div>
    <div class="section">
      <label>Address:</label>
      <div class="input-placeholder">{{DonationModel.Address}}</div>
    </div>


    <div class="section">
      <label>Donation Value:</label>
      <div class="input-placeholder">{{DonationModel.Amount ? DonationModel.Amount : DonationModel.Quantity +' '+DonationModel.InventoryName}}</div>
    </div>

    <div class="section">
      <label>Purpose of Donation:</label>
      <div class="input-placeholder">{{DonationModel.Project}}</div>
    </div>
    <div class="section ">
        <label>Signature</label>
        <div class="input-placeholder">_:</div>
      </div>
    <div class="section">
      <label>Donation Via:</label>
      <div class="donation-methods">
        <span *ngFor="let item of detailtypes" class="{{DonationModel.DonationDetailTypeId == item.Id ? 'active':''}}">
            <ng-container *ngIf="DonationModel.DonationDetailTypeId == item.Id">
                <i class="fa-solid fa-check"></i>

            </ng-container>
            {{item.Title}}</span> 
      </div>
    </div>
  
    <p class="footer">Your generosity transforms lives and inspires hope. Together, we can bring change to create a brighter future.</p>
    <hr>
    <p class="footer highlight">Pakistan Independent Living Centre</p>
  </div>